body{
   
}

.container{

    width: 70vh;
    height: 70vh;
    background-color:var(--primary-color);
    margin: auto;
    
    margin-top: calc(50vh - 35vh);
    
    transition: all 500ms ease-in;
    animation-name: animer;
    border-radius: 300px;
    /* animation-delay: 1s; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  box-shadow: 5px 5px 12px rgba(255, 255, 255, 0.486),
                -5px -5px 12px black;

}
@keyframes animer {

    0%{
  
        /* background-color: black; */
        border-radius: 200px 100px 200px 100px;
        box-shadow: -5px -5px 12px rgba(255, 255, 255, 0.425),
                    5px 5px 12px black;

    }
    
    
    
    
   
    100%{
        
        border-radius: 100px 200px 100px 200px;
        box-shadow: 5px 5px 12px rgba(255, 255, 255, 0.53),
                    -5px -5px 12px black;
    }
    
}
@keyframes nan {
    
}

.container:hover{
    transition: all 300ms ease;
    animation: nan;
    border-radius: 40px;
}
h3{
    padding: 20px;
    background-color: rgba(255, 0, 81, 0.934);
    width: max-content;
    border-radius: 20px;
    animation: animer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.addcon{
    margin-top:30% ;
    height: 3rem;
    width: 20rem;
    margin-left: 3rem;
    border-radius: 20px;

    background-color:black;
    box-shadow: inset 2px 2px 10px #0dcffbec,
                        1px 1px 5px rgba(0, 0, 0, 0.721);
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    background-color: transparent;
    color: white;

}
input::placeholder{
    color: white;
}
.addcon{
    text-align: center;
}
.addvar{
    text-align: center;
    margin-top:10% ;
    height: 3rem;
    width: 20rem;
    margin-left: 3rem;
    border-radius: 20px;
    background-color:black;
    box-shadow: inset 2px 2px 10px #0dcffbec,
                        1px 1px 5px rgba(0, 0, 0, 0.721);
    display: flex;
    align-items: center;
    justify-content: center;

}
.dateTimecon{
    color: white;
}
.btnAdd{

    margin-top: 10%;
    margin-left: calc(50% - 30px);
    transition: all 300ms ease;
    background-color: #0dcffb;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;

}
.btnAdd:hover{
    transition: all 300ms ease;
    background-color: rgba(255, 0, 81, 0.934);
}
